<li class="burger-list-wide mdl-list__item">
    <a href="/customers/{{this.id}}"><span class="mdl-list__item-primary-content">
    {{customer_name}}
    </span></a>
    <button type="button" class="mdl-chip mdl-chip--contact delete-customer" data-id="{{this.id}}">
        <span class="mdl-chip__contact mdl-color--red mdl-color-text--white">x</span>
        <span class="mdl-chip__text">Remove</span>
    </button>
</li>
